services:
    s3:
        image: rustfs/rustfs:1.0.0-alpha.72
        ports:
            - 9000:9000
            - 9001:9001
        environment:
            - RUSTFS_ACCESS_KEY=test
            - RUSTFS_SECRET_KEY=secretsss
    prometheus:
      image: prom/prometheus
      container_name: prometheus
      #command:
      #  - '--config.file=/etc/prometheus/prometheus.yml'
      ports:
        - 9090:9090
      restart: unless-stopped
    grafana:
        image: grafana/grafana-enterprise:12.0.0-ubuntu
        ports:
            - 3000:3000
        environment:
            - GF_INSTALL_PLUGINS=grafana-googlesheets-datasource
            - GF_ENTERPRISE_LICENSE_TEXT=${ENTERPRISE_LICENSE}
#           - GF_FEATURE_TOGGLES_ENABLE=nestedFolders
#           - GF_SECURITY_ADMIN_PASSWORD=secret
