## Configuration intended to be used with integration tests
context_name: testing

contexts:
  testing:
    output_path: test/data
    connections:
      credential_rules:
        - rules:
            - field: "name"
              regex: "misc"
            - field: "url"
              regex: ".*esproxy2*"
          secure_data: "default.json"
        - rules:
            - field: "name"
              regex: ".*"
          secure_data: "default.json"
    url: http://localhost:3000
    user_name: admin
    organization_name: Main Org.
    password: admin
    dashboard_settings:
      ignore_filters: false
    watched:
      - General
      - linux%2Fgnu/*
  production:
    output_path: prod
    connections:
      credential_rules:
        - rules:
            - field: "name"
              regex: "(?i)complex name"
          secure_data: "default.json"
        - rules:
            - match:
                - field: "name"
                  regex: ".*"
          secure_data: "default.json"

    url: https://grafana.com
    user_name: admin
    password: admin
    dashboard_settings:
      nested_folders: false
    organization_name: Your Org
    watched:
      - General
  qa:
    output_path: test/data
    token: <CHANGEME>
    connections:
      credential_rules:
        - rules:
            - field: "name"
              regex: "(?i)complex name"
          secure_data: "complex.json"
        - rules:
            - field: "name"
              regex: "ds_name"
          secure_data: "default.json"
        # Default
        - rules:
            - field: "name"
              regex: ".*"
          secure_data: "default.json"
    url: https://staging.grafana.com
    organization_name: Your Org
    dashboard_settings:
      nested_folders: false
    watched:
      - Folder1
      - Folder2


global:
  debug: false
  api_debug: false
  ignore_ssl_errors: false ##when set to true will ignore invalid SSL errors
  retry_count: 1 ## Will retry any failed API request up to 3 times.
  retry_delay: 1s  ## will wait for specified duration before trying again.

storage_engine:
  test:
    self_hosted: true
    kind: cloud
    cloud_type: s3
    ssl_enabled: true
    bucket_name: ""
    endpoint: http://localhost:9000
    prefix: ""
