name: Go

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.0"
      - name: Verify go version
        run: go version
      - name: Install GoTest
        run: go install gotest.tools/gotestsum@latest
      - name: Test
        env:
          ENTERPRISE_LICENSE: ${{ secrets.ENTERPRISE_LICENSE }}
        run: gotestsum --junitfile report.xml --format testname -- -coverprofile=cover.out ./...
      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true # optional (default = false)
          files: cover.out
          token: ${{ secrets.CODECOV_TOKEN }} 

